
.color-black{
    color: black;
}

.color-yellow{
    color: #ffff51;
}

.color-green{
    color: green;
}

.bg-rose{
    background-color: #d123d1;
}


.bg-blue{
    background-color: #341ef9;
}

.bg-blue-light{
    background-color: aqua;
}

.bg-brown{
    background-color: #814141;
}

.bg-red{
    background-color: #ff2424;
}

.bg-yellow{
    background-color: #ffff51;
}

.bg-orange{
    background-color: #ffa74f;
}

#botonera img{
    height: 50px;
}

body{
    background-image: url(./imagenes/fondo-kawaii-perro-gato_6997-1578.webp);
}

.img-widht{
width: 18rem;
}


.text-center{
    text-align: center;
    color: black;
    text-decoration: underline;

}

/* #sectionMain{
    display: flex;
    justify-content: space-between;
} */

.card{
    width: 18rem;
}

#shopContent{
    display: grid;
    grid-template-columns: repeat(3,300px);
    height: 300px;
    justify-content: center;
}

.tamañoImagenes{
    width: 100%;
    height: 600px;
    padding: 2vh;
    background-size: contain;

}


/* -----------CLASES DEL CARRITO--------- */

.cardCarrito-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardCarrito {
    width: 900px;
    height: 100px;
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    display: flex;
    position: relative;
  }
  
  .cardCarrito img {
    width: 100px;
    height: 100%;
    object-fit: cover;
  }
  
  .cardCarrito .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cardCarrito h5 {
    text-align: center;
  }
  
  .cardCarrito p {
    font-size: 18px;
    color: blueviolet;
    text-align: center;
  }

  /* --------contador de productos---------- */
.cuentaProductos{
    width: 60px;
    padding: 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}


  /* --------Boton Sacar del carrito */
  
  .cardCarrito button {
    width: 40px;
    /* height: 40px; */
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
  }

  .cardCarrito button#botonRestar {
    right: 340px;
  }
  .cardCarrito button#botonRestar:hover {
    background-color: black;
  }

  .cardCarrito button#botonMostrar {
    right: 298px;
  }

  .cardCarrito button#botonSumar {
    right: 256px;
  }

  .cardCarrito button#botonSumar:hover {
    background-color: green;
  }
  
  .cardCarrito button#botonEliminar{
    right: 10px;
  }
  .cardCarrito button#botonEliminar:hover {
    background-color: red;
  }


