

.bg-blue{
    background-color: #341ef9;
}


.bg-yellow{
    background-color: #ffff51;
}


#botonera img{
    height: 50px;
}

body{
    background-image: url(./imagenes/fondo-kawaii-perro-gato_6997-1578.webp);
}

